/*
   VARIABLES
   http://clrs.cc/

   - Cool
   - Warm
   - Gray Scale
*/

$aqua: #005689;
$blue: #0074D9;
$navy: #00456E;
$teal: #39CCCC;
$green: #2ECC40;
$olive: #3D9970;
$lime: #01FF70;

$yellow: #FFDC00;
$orange: #FF851B;
$red: #FF4136;
$fuchsia: #F012BE;
$purple: #B10DC9;
$maroon: #85144B;

$white: #FFFFFF;
$silver: #DDDDDD;
$gray: #AAAAAA;
$black: #111111;


// $background : #DFDFDF;
// $background : #333333;
// $background : #BDBDBD;
// $background : #00456E;
// $background : #005689;
// $background : #000000;
// $background : #FDADBA;
// $background : #FF9B0B;
// $background : #FFBB00;
// $background : #FFFFFF;
// $background : #BF7799;
// $background-color : #4BC6DF;
// $background-color : #FFFFFF;
// $background-color : #EAEAEA;
// $background-color : #000000;
// $background-color : #F6F6F6;
// $background-color : #005689;
// $background-color : #AAD8F1;
// $background-color : #FFBB00;
// $background-color : #FDADBA;
// $background-color : #EFEFEC;
// $background-color : #E3E3DE;
// $background-color : #E6711B;
// $background-color : #F1F1F1;
// $background-color : #161616;
// $background-color : #EBEBEB;
// $background-color : #333333;
// $background-color : #B51800;
// $background-color : #00639D;
// $background-color : #CC2B12;
// $background-color : #A11500;
// $background-color : #D7D7D4;
// $background-color : #84194B;
// $background-color : #E4E4E4;
// $background-color : #D9D9D9;
// $background-color : #202020;
// $background-color : #6C655B;
// $background-color : #FFCE4B;
// $background-color : #E5E5E5;
// $background-color : #004670;
// $background-color : #E2E2E2;
// $background-color : #A9AF2B;
// $background-color : #63717A;
// $background-color : #58646C;
// $color : #FFFFFF;
// $color : #333333;
// $color : #005689;
// $color : #AAD8F1;
// $color : #767676;
// $color : #4BC6DF;
// $color : #00456E;
// $color : #E6711B;
// $color : #FDADBA;
// $color : #BDBDBD;
// $color : #FFBB00;
// $color : #161616;
// $color : #D6D6D6;
// $color : #CC2B12;
// $color : #EFEFEC;
// $color : #7D7569;
// $color : #EAD2DD;
// $color : #00D4FF;
// $color : #94B1CA;
// $color : #B51800;
// $color : #63717A;
// $color : #FFCE4B;
// $color : #DCDCDC;
// $color : #F0D1CC;
// $color : #C44633;
// $color : #737373;
// $color : #E0E3E4;
// $color : #828D95;
// $color : #197CAA;
// $color : #F9EDEB;
// $color : #5C5C5C;
// $color : #AA4977;
// $color : #951C55;
// $color : #E5E3E1;
// $color : #979187;
// $color : #CCDDE7;
// $color : #1C6326;
                
