@import '../../styles/main';
$cl: 'navigation';

.#{$cl} {
    &__container {
        background-color: $aqua;
        padding: 15px;
        text-align: center;
    }
    &__list {
        &Container {
            padding: 0;
            margin: 0;
            list-style-type: none;
            display: flex;
            justify-content: space-evenly;
        }

        &Link {
            font-weight: 600;
            text-decoration: none;
            text-transform: uppercase;
            color: $navy;
            transition: color 0.25s ease-in-out;
    
            &:hover {
                color: $gray;
            }
        }
    } 
}